In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\NUS\Hackathon\LifeHack 2024\LifeHack-2024\Datasets\FivePreventableCrimeCasesRecordedByNeighbourhoodPoliceCentreNPCAnnual.csv")

In [4]:
# Step 1: Split the 'level_1' column
df[['Division', 'NPC']] = df['level_1'].str.split(' - ', expand=True)

# Step 2: Convert 'value' to numeric, handling 'na'
df['value'] = pd.to_numeric(df['value'], errors='coerce')

# Step 3: Filter out rows with 'Total' or 'Unknown NPC' in the 'NPC' column
df_cleaned = df[~df['NPC'].str.contains('Total|Unknown', na=False)]

# Drop the original 'level_1' column as it's no longer needed
df_cleaned = df_cleaned.drop(columns=['level_1'])

# Display the cleaned dataframe
df_cleaned.head()

   year  value                  Division                   NPC
1  2011  124.0   Central Police Division  Bukit Merah East NPC
2  2011  125.0   Central Police Division        Marina Bay NPC
3  2011  124.0   Central Police Division            Rochor NPC
6  2011  135.0  Clementi Police Division  Bukit Merah West NPC
7  2011   73.0  Clementi Police Division          Clementi NPC

In [5]:
# Aggregate crime data by NPC
npc_crime_totals = df_cleaned.groupby('NPC')['value'].sum().reset_index()

# Sort the data to identify top crime areas
top_crime_areas = npc_crime_totals.sort_values(by='value', ascending=False)

# Display the top crime areas
top_crime_areas.head()

               NPC   value
13     Geylang NPC  1672.0
21     Orchard NPC  1450.0
2        Bedok NPC  1339.0
18  Marina Bay NPC  1234.0
25      Rochor NPC  1148.0

In [7]:
df_cleaned.to_csv('cleaned_crime_data.csv', index=False)